 <nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>        
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>    
            <span class="icon-bar"></span>           
            </button>
            <a class="navbar-brand" href="#">Tipp-Ball</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Startseite</a></li>
                <li><a href="/tipps">Tipps</a></li>
                <li><a href="/gruppen">Gruppen</a></li>
                <li><a href="/profile">Teilnehmer</a></li>
                <li><a href="/tabelle">Tabelle</a></li>
            </ul>
        </div>
    </div>
 </nav>