{% extends 'layouts.html' %}

{% block body %}
<h1>Deine Tipps</h1>
<p>Me (M 9) screamed "dead body reported" at my aunts funeral. My mom said that my aunt died and that we are going to her funeral the next morning.
    As soon as she left the room crying I busted put laughing because it reminded me of among us a popular video game.
    So as we were riding in the car I was thinking about saying "dead body reported" at the funeral. 
    When we finnaly arived I screamed "dead body reported" everyone was looking me like if some sort of a weirdo.
    Then I remembered that my grandfather's sister fell in the vents and died when she was 2 years old. So I said grandpa's sister sus she vented. 
    My grandfather started crying and everyone was screaming at me instead of laughing. My mom took my x box and said that I am going to therapist tomorow. 
    Idk my mom is acting kinda sus
</p>
{% endblock %}