{% extends 'layouts.html' %}

{% block body %}
<h1>Deine Tipps</h1>
<p>It's important to note that Reds commit nearly 52% of all the murders in Among Us,
    which is astounding when you take into consideration the fact that they make up 12-13% of the population.
    It gets even more astounding when you start considering the fact the bulk of Reds committing these murders are probably
    ages 8-18 which is probably around an estimated 6-7% of the population that means that around 7% of Among Us Players are committing around 50% of the murders.
</p>
{% endblock %}