{% extends 'layouts.html' %}

{% block body %}
<div class="container">
  <div class="jumbotron text-center">
    <h1 class="display-4">Herzlich Willkommen zum Tippspiel ohne ärgerliche Werbung</h1>
    <p class="lead">- Verwandeln Sie Ihr Wohnzimmer in eine Sportarena und genießen Sie Tippspiel ohne Werbung - </p>
    <hr class="my-4">
    <p>Werden Sie Teil unserer Community und treten Sie gegen Tipper aus der ganzen Welt an. Geben Sie Ihre Tipps ab und werden Sie mit etwas Glück zum Tippkönig!</p>
    <a href='/logout'>Ausloggen!</a>
  </div>
</div>

{% endblock %}
