{% extends 'layouts.html' %}

{% block body %}
<style>
    table, th, td {
      border-collapse: collapse;
      table-layout: fixed;
      padding: 10px;
    }

</style>

<h1>Begegnungen</h1>
<div class="jumbotron">
    <form method="post">
        {{ form.spieltage }}
        <input type="submit" value="Spieltag anzeigen">
    </form>
    <br>
    <table>
       <thead>
          <th>Team 1</th>
          <th>H</th>
          <th></th>
          <th>G</th>
          <th>Team 2</th>
          <th>Anstoß</th>
       </thead>
       {% for data in spiele %}
        <tbody>
            <td>{{data.heim_team}}</td>
            {% if data.heim_tore != None %}
                <td>{{data.heim_tore}}</td>
            {% else %}
                <td>...</td>
            {% endif %}
            <td>:</td>
            {% if data.gast_tore != None%}
                <td>{{data.gast_tore}}</td>
            {% else %}
                <td>...</td>
            {% endif %}
            <td>{{data.gast_team}}</td>
            <td>{{data.date}}</td>
        </tbody>
        {% endfor%}
     </table>
</div>
{% endblock %}