{% extends 'layouts.html' %}
<head></head>

{% block body %}

    <style>
   table, th, td {
     border-collapse: collapse;
     table-layout: fixed;
     padding: 10px;
   }
    </style>

    <div class="jumbotron">
        <h1>Scoreboard</h1>
        <table>
          <thead>
            <th>Spieler</th>
            <th>Punkte</th>
          </thead>
          {% for data in users %}
            <tbody>
              <td>{{data.username}}</td>
              <td>{{data.points}}</td>
            </tbody>
          {% endfor %}
        </table>
    </div>
{% endblock %}


